* {
  font-family: "Montserrat";
  letter-spacing: 2.4px;
}
.page_header-menu-navigation {
  width: 1280px;
}
.page-header-menu {
  text-align: center;
}
.page-header-menu-link {
  color: red;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.page-header-menu-item {
  list-style: none;
  display: inline-block;
  margin-right: 72px;
}
.img {
  width: 1280px;
  height: 789px;
}
.header-text {
  letter-spacing: 3.3px;
  text-align: center;
  font-weight: 700;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #373737;
  font-weight: 400;
}
button {
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  border-radius: 4px;
  background: #ff0000;
  margin: 0 auto;
  display: block;
}
.button {
  color: white;
}
footer {
  letter-spacing: 2.4px;
  position: relative;
  width: 562px;
  height: 29px;
  left: 608px;
  top: 0px;
  font-weight: 700;
  color: #373737;
}
